:local {
	.contact {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

		@media screen and (min-width: 768px) and (min-height: 500px) {

		}

		.background {
			position: relative;
			top: 0;
			left: 0;
			width: 100%;
			height: 63vw;
			overflow: hidden;

			@media screen and (min-width: 768px) and (min-height: 500px) {
				position: absolute;
				height: 100%;
			}

			img {
				min-width: 100%;
				min-height: 100%;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			background: url('/img/contact-600.jpg') center;
      background-size: cover;
			@media (min-width: 601px) {
				background-image: url('/img/contact-900.jpg');
			}
			@media (min-width: 901px) {
				background-image: url('/img/contact-1200.jpg');
			}
			@media (min-width: 1201px) {
				background-image: url('/img/contact-1600.jpg');
			}
			@media (min-width: 1601px) {
				background-image: url('/img/contact-1920.jpg');
			}
		}

		@media screen and (min-width: 768px) and (min-height: 500px) {
			.contentWrapper {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
        background: linear-gradient(60deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3));
        width: 100%;
			}
		}
		.content {
			padding: 20px;

			@media screen and (min-width: 768px) and (min-height: 500px) {
				position: absolute;
				bottom: 5%;
				left: 10%;
				width: 80%;
			}
		}

		a {
			text-decoration: none;
		}

		.linkedin, .pinterest, .facebook, .twitter {
			display: inline-block;

			span {
				text-indent: -9999px;
				width: 60px;
				height: 60px;
				background: url('asset/image/sprite.png') no-repeat transparent;
				display: block;
			}
		}

		.linkedin span {
			background-position: 0 0;
		}
		.pinterest span {
			background-position: 0px -60px;
		}
		.facebook span {
			background-position: 0px -120px;
		}
		.twitter span {
			background-position: 0px -180px;
		}
		.linkedin span:hover {
			background-position: -60px 0px;
		}
		.pinterest span:hover {
			background-position: -60px -60px;
		}
		.facebook span:hover {
			background-position: -60px -120px;
		}
		.twitter span:hover {
			background-position: -60px -180px;
		}

		@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
			.linkedin span, .pinterest span, .facebook span, .twitter span {
				background-image: url('asset/image/sprite2x.png');
				background-size: 120px 270px;
			}
		}
	}
}
